<!--
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </a>
                <a class="brand" href="#">Project name</a>
                <div class="nav-collapse collapse">
                    <p class="navbar-text pull-right">Logged in as
                        <a href="#" class="navbar-link">Username</a>
                    </p>
                    <ul class="nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse

            </div>
        </div>
    </div>
-->
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li>
                            <a href="#"><i class="icon-asterisk"></i>&nbsp;Link</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-asterisk"></i>&nbsp;Link</a>
                        </li>
                        <li class="nav-header">Categories</li>
                        <li class="active">
                            <a href="#"><i class="icon-eye-open"></i>&nbsp;Link</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-eye-close"></i>&nbsp;Link</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-eye-close"></i>&nbsp;Link</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-eye-close"></i>&nbsp;Link</a>
                        </li>
                        <li class="nav-header">Tags</li>
                        <a href="#"><span class="tag label-success" style="padding:4px; padding-top:0; padding-bottom:0;">Link</span></a>
                        <a href="#"><span class="tag label-success" style="padding:4px; padding-top:0; padding-bottom:0;">Link</span></a>
                        <a href="#"><span class="tag label-success" style="padding:4px; padding-top:0; padding-bottom:0;">Link</span></a>
                        <a href="#"><span class="tag label-success" style="padding:4px; padding-top:0; padding-bottom:0;">Link</span></a>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/span-->
            <div class="span9">

                <div class="row-fluid">
                    <div class="span4">
                        <h2>Heading</h2>

                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio
                            dui.</p>
                        <p>
                            <a class="btn" href="#">View details &raquo;</a>
                        </p>
                    </div>
                    <!--/span-->
                    <div class="span4">
                        <h2>Heading</h2>

                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio
                            dui.</p>
                        <p>
                            <a class="btn" href="#">View details &raquo;</a>
                        </p>
                    </div>
                    <!--/span-->
                    <div class="span4">
                        <h2>Heading</h2>

                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio
                            dui.</p>
                        <p>
                            <a class="btn" href="#">View details &raquo;</a>
                        </p>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row-fluid">
                    <div class="span4">
                        <h2>Heading</h2>

                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio
                            dui.</p>
                        <p>
                            <a class="btn" href="#">View details &raquo;</a>
                        </p>
                    </div>
                    <!--/span-->
                    <div class="span4">
                        <h2>Heading</h2>

                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio
                            dui.</p>
                        <p>
                            <a class="btn" href="#">View details &raquo;</a>
                        </p>
                    </div>
                    <!--/span-->
                    <div class="span4">
                        <h2>Heading</h2>

                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio
                            dui.</p>
                        <p>
                            <a class="btn" href="#">View details &raquo;</a>
                        </p>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
            </div>
            <!--/span-->
        </div><!--/row-->
    </div>